<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
debug="false">
<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS z}] %5p %l: %m%n" />
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter">
<param name="LevelMin" value="info" />
<!-- <param name="LevelMax" value="debug" /> -->
<param name="AcceptOnMatch" value="false" />
</filter>
</appender>


<appender name="dfileInfo" class="org.apache.log4j.DailyRollingFileAppender">
<param name="File" value="logs/info.log" />
<param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'" />
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d %-5p %l - %m%n" />
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter">
<param name="LevelMin" value="info" />
<param name="LevelMax" value="info" />
<param name="AcceptOnMatch" value="false" />
</filter>

</appender>

<appender name="dfileWarn" class="org.apache.log4j.DailyRollingFileAppender">
<param name="File" value="logs/warn.log" />
<param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'" />
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d %-5p %l - %m%n" />
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter">
<param name="LevelMin" value="warn" />
<param name="LevelMax" value="warn" />
<param name="AcceptOnMatch" value="false" />
</filter>

</appender>

<appender name="dfileError" class="org.apache.log4j.DailyRollingFileAppender">
<param name="File" value="logs/error.log" />
<param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'" />
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d %-5p %l - %m%n" />
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter">
<param name="LevelMin" value="error" />
<param name="LevelMax" value="error" />
<param name="AcceptOnMatch" value="false" />
</filter>

</appender>

<logger name="com.baozun.demo.base">
<level value="debug" />
</logger>

<root>

<level value="INFO" />
<appender-ref ref="CONSOLE" />
<!-- <appender-ref ref="dfileInfo" />
<appender-ref ref="dfileWarn" />
<appender-ref ref="dfileError" /> -->

</root>
</log4j:configuration>
