<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.warehouse.ma.TransportProviderDao">
    <resultMap id="TransportProviderResult" type="com.baozun.scm.primservice.whoperation.model.warehouse.ma.TransportProvider">
    </resultMap>
    <resultMap id="TransportProviderPaginationResult" type="lark.common.dao.Pagination">
        <collection property="items" javaType="ArrayList" resultMap="TransportProviderResult"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="transportProviderColumns">
        <![CDATA[
                id as id,
                code as code,
                name as name,
                category as category,
                type as type,
                level as level,
                description as description,
                contact as contact,
                phone as phone,
                lifecycle as lifecycle,
                create_id as createId,
                create_time as createTime,
                last_modify_time as lastModifyTime,
                modified_id as modifiedId
        ]]>
    </sql>
    <sql id="transportProviderConditionWhereExt">
        <where>
            <if test="likeEqualsMap != null">
                <foreach collection="likeEqualsMap" index="key" item="value" separator="and" open=" and ">
                    ${key} like CONCAT('%',#{value},'%')
                </foreach>
            </if>
            <if test="equalsMap != null">
                <foreach collection="equalsMap" index="key" item="value" separator="and" open=" and ">
                    ${key} = #{value}
                </foreach>
            </if>
            <if test="notEqualsMap != null">
                <foreach collection="notEqualsMap" index="key" item="value" separator="and" open=" and ">
                    ${key} != #{value}
                </foreach>
            </if>
            <if test="greateMap != null">
                <foreach collection="greateMap" index="key" item="value" separator="and" open=" and ">
                    ${key} &gt; #{value}
                </foreach>
            </if>
            <if test="greateEqualsMap != null">
                <foreach collection="greateEqualsMap" index="key" item="value" separator="and" open=" and ">
                    ${key} &gt;= #{value}
                </foreach>
            </if>
            <if test="lessMap != null">
                <foreach collection="lessMap" index="key" item="value" separator="and" open=" and ">
                    ${key} &lt; #{value}
                </foreach>
            </if>
            <if test="lessEqualsMap != null">
                <foreach collection="lessEqualsMap" index="key" item="value" separator="and" open=" and ">
                    ${key} &lt;= #{value}
                </foreach>
            </if>
            <if test="nullMap != null">
                <foreach collection="nullMap" index="key" item="value" separator="and" open=" and ">
                    ${key} is null
                </foreach>
            </if>
            <if test="notNullMap != null">
                <foreach collection="notNullMap" index="key" item="value" separator="and" open=" and ">
                    ${key} is not null
                </foreach>
            </if>
            <if test="inMap != null">
                <foreach collection="inMap" index="key" item="value" separator="and" open=" and (" close=")">
                    <foreach collection="value" item="itemin" index="index" separator="or">
                        ${key} = #{itemin}
                    </foreach>
                </foreach>
            </if>
            <if test="notInMap != null">
                <foreach collection="notInMap" index="key" item="value" separator="and" open=" and (" close=")">
                    <foreach collection="value" item="itemin" index="index" separator="and">
                        ${key} != #{itemin}
                    </foreach>
                </foreach>
            </if>
        </where>
        <if test="sortBy != null">
            <foreach collection="sortBy" item="item" separator="," open=" order by ">
                ${item.field} ${item.type}
            </foreach>
        </if>
    </sql>

    <!-- 如果有自增字段 -->

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.ma.TransportProvider"

            flushCache="true">
        <![CDATA[
                INSERT INTO
                t_ma_transport_provider (
                id,
                    code ,
                    name ,
                    category ,
                    type ,
                    level ,
                    description ,
                    contact ,
                    phone ,
                    lifecycle ,
                    create_id ,
                    create_time ,
                    last_modify_time ,
                    modified_id 
                ) VALUES (
                #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
                    #{code,javaType=java.lang.String,jdbcType=VARCHAR} ,
                    #{name,javaType=java.lang.String,jdbcType=VARCHAR} ,
                    #{category,javaType=java.lang.String,jdbcType=VARCHAR} ,
                    #{type,javaType=java.lang.String,jdbcType=VARCHAR} ,
                    #{level,javaType=java.lang.String,jdbcType=VARCHAR} ,
                    #{description,javaType=java.lang.String,jdbcType=VARCHAR} ,
                    #{contact,javaType=java.lang.String,jdbcType=VARCHAR} ,
                    #{phone,javaType=java.lang.String,jdbcType=VARCHAR} ,
                    #{lifecycle,javaType=java.lang.Integer,jdbcType=INTEGER} ,
                    #{createId,javaType=java.lang.Long,jdbcType=BIGINT} ,
                    #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
                    #{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
                    #{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} 
                )
            ]]>

    </insert>


    <update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.ma.TransportProvider">
        <![CDATA[
            UPDATE t_ma_transport_provider SET
                code = #{code,javaType=java.lang.String,jdbcType=VARCHAR} ,
                name = #{name,javaType=java.lang.String,jdbcType=VARCHAR} ,
                category = #{category,javaType=java.lang.String,jdbcType=VARCHAR} ,
                type = #{type,javaType=java.lang.String,jdbcType=VARCHAR} ,
                level = #{level,javaType=java.lang.String,jdbcType=VARCHAR} ,
                description = #{description,javaType=java.lang.String,jdbcType=VARCHAR} ,
                contact = #{contact,javaType=java.lang.String,jdbcType=VARCHAR} ,
                phone = #{phone,javaType=java.lang.String,jdbcType=VARCHAR} ,
                lifecycle = #{lifecycle,javaType=java.lang.Integer,jdbcType=INTEGER} ,
                create_id = #{createId,javaType=java.lang.Long,jdbcType=BIGINT} ,
                create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
                last_modify_time = #{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
                modified_id = #{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} 
            WHERE 
                id = #{id} 
        ]]>
    </update>
    <update id="batchUpdate">
        UPDATE t_ma_transport_provider SET
        <foreach collection="batchUpdateMap" index="key" item="value" separator=",">
            ${key} = #{value}
        </foreach>
        <include refid="transportProviderConditionWhereExt"/>
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        <![CDATA[
            delete from t_ma_transport_provider where
                id = #{id} 
        ]]>
    </delete>

    <delete id="deleteByIds" parameterType="list">

        delete from t_ma_transport_provider
        where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>
    <update id="batchDelete">
        delete from t_ma_transport_provider
        <include refid="transportProviderConditionWhereExt"/>
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="TransportProviderResult" flushCache="false">
        select
        <include refid="transportProviderColumns"/>
        <![CDATA[
                from t_ma_transport_provider 
                where 
                id = #{id} 
            ]]>
    </select>
    <select id="getByIds" parameterType="list" resultMap="TransportProviderResult" flushCache="false">
        select
        <include refid="transportProviderColumns"/>
        from t_ma_transport_provider
        where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <sql id="transportProviderDynamicWhere">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>

            <if test="id!=null">
                and id = #{id}
            </if>


            <if test="code!=null and code!=''">
                and code = #{code}
            </if>


            <if test="name!=null and name!=''">
                and name = #{name}
            </if>


            <if test="category!=null and category!=''">
                and category = #{category}
            </if>


            <if test="type!=null and type!=''">
                and type = #{type}
            </if>


            <if test="level!=null and level!=''">
                and level = #{level}
            </if>


            <if test="description!=null and description!=''">
                and description = #{description}
            </if>


            <if test="contact!=null and contact!=''">
                and contact = #{contact}
            </if>


            <if test="phone!=null and phone!=''">
                and phone = #{phone}
            </if>

            <if test="lifecycle!=null">
                and lifecycle = #{lifecycle}
            </if>

            <if test="createId!=null">
                and create_id = #{createId}
            </if>

            <if test="createTime!=null">
                and create_time = #{createTime}
            </if>

            <if test="lastModifyTime!=null">
                and last_modify_time = #{lastModifyTime}
            </if>

            <if test="modifiedId!=null">
                and modified_id = #{modifiedId}
            </if>
        </where>
    </sql>


    <select id="getCount" resultType="long">
        select count(*) from t_ma_transport_provider
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_ma_transport_provider
        <include refid="transportProviderDynamicWhere"/>
    </select>

    <select id="findListCountByParam" resultType="long">
        select count(*) from t_ma_transport_provider
        <include refid="transportProviderDynamicWhere"/>
    </select>

    <!--
        分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
        因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="TransportProviderResult">
        select
        <include refid="transportProviderColumns"/>
        from t_ma_transport_provider
        <include refid="transportProviderDynamicWhere"/>

    </select>

    <select id="findListByQueryMap" resultMap="TransportProviderResult">
        select
        <include refid="transportProviderColumns"/>
        from t_ma_transport_provider
        <include refid="transportProviderDynamicWhere"/>

    </select>

    <select id="findListByParam" resultMap="TransportProviderResult">
        select
        <include refid="transportProviderColumns"/>
        from t_ma_transport_provider
        <include refid="transportProviderDynamicWhere"/>

    </select>

    <select id="query" resultMap="TransportProviderResult">
        select
        <include refid="transportProviderColumns"/>
        from t_ma_transport_provider
        <include refid="transportProviderConditionWhereExt"/>
    </select>

    <select id="queryCount" resultType="long">
        select count(*) from t_ma_transport_provider
        <include refid="transportProviderConditionWhereExt"/>
    </select>

    <select id="getByCode" resultMap="TransportProviderResult" parameterType="java.lang.String">
        select
        <include refid="transportProviderColumns"/>
        <![CDATA[
            from t_ma_transport_provider where code = #{code}
        ]]>
    </select>

    <select id="getByName" resultMap="TransportProviderResult" parameterType="java.lang.String">
        select
        <include refid="transportProviderColumns"/>
        <![CDATA[
            from t_ma_transport_provider where name = #{name}
        ]]>
    </select>


</mapper>
