<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whinterface.dao.inbound.WhInboundConfirmDao">
	<resultMap id="WhInboundConfirmResult" type="com.baozun.scm.primservice.whoperation.model.whinterface.inbound.WhInboundConfirm">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="whInboundConfirmColumns">
	    <![CDATA[
	        	id as id,
	        	uuid as uuid,
	        	ext_po_code as extPoCode,
	        	ext_po_type as extPoType,
	        	ext_code as extCode,
	        	customer_code as customerCode,
	        	store_code as storeCode,
	        	from_location as fromLocation,
	        	to_location as toLocation,
	        	delivery_time as deliveryTime,
	        	wh_code as whCode,
	        	po_status as poStatus,
	        	po_type as poType,
	        	is_iqc as isIqc,
	        	qty_planned as qtyPlanned,
	        	qty_rcvd as qtyRcvd,
	        	ctn_planned as ctnPlanned,
	        	ctn_rcvd as ctnRcvd,
	        	ext_memo as extMemo,
	        	data_source as dataSource,
	        	create_time as createTime
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
		
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.whinterface.inbound.WhInboundConfirm" 
				useGeneratedKeys="true" keyProperty="id" 
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_inbound_confirm (
		        	uuid ,
		        	ext_po_code ,
		        	ext_po_type ,
		        	ext_code ,
		        	customer_code ,
		        	store_code ,
		        	from_location ,
		        	to_location ,
		        	delivery_time ,
		        	wh_code ,
		        	po_status ,
		        	po_type ,
		        	is_iqc ,
		        	qty_planned ,
		        	qty_rcvd ,
		        	ctn_planned ,
		        	ctn_rcvd ,
		        	ext_memo ,
		        	data_source ,
		        	create_time 
		        ) VALUES (
		        	#{uuid,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{extPoCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{extPoType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{extCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{customerCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{storeCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{fromLocation,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{toLocation,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{deliveryTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{whCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{poStatus,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{poType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{isIqc,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        	#{qtyPlanned,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        	#{qtyRcvd,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        	#{ctnPlanned,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{ctnRcvd,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{extMemo,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{dataSource,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} 
		        )
		    ]]>

		</insert>
		
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.whinterface.inbound.WhInboundConfirm">
	    <![CDATA[
	        UPDATE t_wh_inbound_confirm SET
		        uuid = #{uuid,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ext_po_code = #{extPoCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ext_po_type = #{extPoType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ext_code = #{extCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        customer_code = #{customerCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        store_code = #{storeCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        from_location = #{fromLocation,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        to_location = #{toLocation,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        delivery_time = #{deliveryTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        wh_code = #{whCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        po_status = #{poStatus,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        po_type = #{poType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        is_iqc = #{isIqc,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        qty_planned = #{qtyPlanned,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        qty_rcvd = #{qtyRcvd,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        ctn_planned = #{ctnPlanned,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        ctn_rcvd = #{ctnRcvd,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        ext_memo = #{extMemo,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        data_source = #{dataSource,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_inbound_confirm where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_inbound_confirm 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="WhInboundConfirmResult" flushCache="false">
			select <include refid="whInboundConfirmColumns" />
		    <![CDATA[
			    from t_wh_inbound_confirm 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="WhInboundConfirmResult" flushCache="false">
			select <include refid="whInboundConfirmColumns" />
			    from t_wh_inbound_confirm 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="whInboundConfirmDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="uuid!=null and uuid!=''">
					and uuid = #{uuid}
				</if>
	       
	       
		       <if test="extPoCode!=null and extPoCode!=''">
					and ext_po_code = #{extPoCode}
				</if>
	       
	       
		       <if test="extCode!=null and extCode!=''">
					and ext_code = #{extCode}
				</if>
	       
	       
		       <if test="customerCode!=null and customerCode!=''">
					and customer_code = #{customerCode}
				</if>
	       
	       
		       <if test="storeCode!=null and storeCode!=''">
					and store_code = #{storeCode}
				</if>
	       
	       
		       <if test="fromLocation!=null and fromLocation!=''">
					and from_location = #{fromLocation}
				</if>
	       
	       
		       <if test="toLocation!=null and toLocation!=''">
					and to_location = #{toLocation}
				</if>
	       
				<if test="deliveryTime!=null">
					and delivery_time = #{deliveryTime}
				</if>
	       
	       
		       <if test="whCode!=null and whCode!=''">
					and wh_code = #{whCode}
				</if>
	       
	       
		       <if test="poStatus!=null and poStatus!=''">
					and po_status = #{poStatus}
				</if>
	       
	       
		       <if test="poType!=null and poType!=''">
					and po_type = #{poType}
				</if>
	       
				<if test="isIqc!=null">
					and is_iqc = #{isIqc}
				</if>
	       
				<if test="qtyPlanned!=null">
					and qty_planned = #{qtyPlanned}
				</if>
	       
				<if test="qtyRcvd!=null">
					and qty_rcvd = #{qtyRcvd}
				</if>
	       
				<if test="ctnPlanned!=null">
					and ctn_planned = #{ctnPlanned}
				</if>
	       
				<if test="ctnRcvd!=null">
					and ctn_rcvd = #{ctnRcvd}
				</if>
	       
	       
		       <if test="extMemo!=null and extMemo!=''">
					and ext_memo = #{extMemo}
				</if>
	       
	       
		       <if test="dataSource!=null and dataSource!=''">
					and data_source = #{dataSource}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_inbound_confirm 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_inbound_confirm 
		<include refid="whInboundConfirmDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_inbound_confirm 
		<include refid="whInboundConfirmDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="WhInboundConfirmResult">
    	select <include refid="whInboundConfirmColumns" />
	    from t_wh_inbound_confirm 
		<include refid="whInboundConfirmDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="WhInboundConfirmResult">
    	select <include refid="whInboundConfirmColumns" />
	    from t_wh_inbound_confirm 
		<include refid="whInboundConfirmDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="WhInboundConfirmResult">
    	select <include refid="whInboundConfirmColumns" />
	    from t_wh_inbound_confirm 
		<include refid="whInboundConfirmDynamicWhere"/>
		
    </select>

	
</mapper>
