<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whinterface.dao.inbound.WhInboundLineConfirmDao">
	<resultMap id="WhInboundLineConfirmResult" type="com.baozun.scm.primservice.whoperation.model.whinterface.inbound.WhInboundLineConfirm">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="whInboundLineConfirmColumns">
	    <![CDATA[
	        	id as id,
	        	inbound_confirm_id as inboundConfirmId,
	        	upc as upc,
	        	style as style,
	        	color as color,
	        	size as size,
	        	qty as qty,
	        	line_seq as lineSeq,
	        	carton_no as cartonNo
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
	
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.whinterface.inbound.WhInboundLineConfirm" 
				useGeneratedKeys="true" keyProperty="id" 
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_inbound_line_confirm (
		        	inbound_confirm_id ,
		        	upc ,
		        	style ,
		        	color ,
		        	size ,
		        	qty ,
		        	line_seq ,
		        	carton_no 
		        ) VALUES (
		        	#{inboundConfirmId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{upc,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{style,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{color,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{size,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{qty,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        	#{lineSeq,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{cartonNo,javaType=java.lang.String,jdbcType=VARCHAR} 
		        )
		    ]]>
	
			</insert>
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.whinterface.inbound.WhInboundLineConfirm">
	    <![CDATA[
	        UPDATE t_wh_inbound_line_confirm SET
		        inbound_confirm_id = #{inboundConfirmId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        upc = #{upc,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        style = #{style,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        color = #{color,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        size = #{size,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        qty = #{qty,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        line_seq = #{lineSeq,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        carton_no = #{cartonNo,javaType=java.lang.String,jdbcType=VARCHAR} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_inbound_line_confirm where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_inbound_line_confirm 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="WhInboundLineConfirmResult" flushCache="false">
			select <include refid="whInboundLineConfirmColumns" />
		    <![CDATA[
			    from t_wh_inbound_line_confirm 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="WhInboundLineConfirmResult" flushCache="false">
			select <include refid="whInboundLineConfirmColumns" />
			    from t_wh_inbound_line_confirm 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="whInboundLineConfirmDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
				<if test="inboundConfirmId!=null">
					and inbound_confirm_id = #{inboundConfirmId}
				</if>
	       
	       
		       <if test="upc!=null and upc!=''">
					and upc = #{upc}
				</if>
	       
	       
		       <if test="style!=null and style!=''">
					and style = #{style}
				</if>
	       
	       
		       <if test="color!=null and color!=''">
					and color = #{color}
				</if>
	       
	       
		       <if test="size!=null and size!=''">
					and size = #{size}
				</if>
	       
				<if test="qty!=null">
					and qty = #{qty}
				</if>
	       
	       
		       <if test="lineSeq!=null and lineSeq!=''">
					and line_seq = #{lineSeq}
				</if>
	       
	       
		       <if test="cartonNo!=null and cartonNo!=''">
					and carton_no = #{cartonNo}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_inbound_line_confirm 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_inbound_line_confirm 
		<include refid="whInboundLineConfirmDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_inbound_line_confirm 
		<include refid="whInboundLineConfirmDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="WhInboundLineConfirmResult">
    	select <include refid="whInboundLineConfirmColumns" />
	    from t_wh_inbound_line_confirm 
		<include refid="whInboundLineConfirmDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="WhInboundLineConfirmResult">
    	select <include refid="whInboundLineConfirmColumns" />
	    from t_wh_inbound_line_confirm 
		<include refid="whInboundLineConfirmDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="WhInboundLineConfirmResult">
    	select <include refid="whInboundLineConfirmColumns" />
	    from t_wh_inbound_line_confirm 
		<include refid="whInboundLineConfirmDynamicWhere"/>
		
    </select>

	
</mapper>
