<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.odo.WhOdoDeliveryInfoDao">
	<resultMap id="OdoDeliveryInfoResult" type="com.baozun.scm.primservice.whoperation.model.odo.WhOdodeliveryInfo">
	</resultMap>
	<resultMap id="OdoDeliveryInfoPaginationResult" type="lark.common.dao.Pagination">
    	<collection property="items" javaType="ArrayList" resultMap="OdoDeliveryInfoResult"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="odoDeliveryInfoColumns">
	    <![CDATA[
	        	id as id,
	        	odo_id as odoId,
	        	transport_code as transportCode,
	        	waybill_code as waybillCode,
	        	transport_service_type as transportServiceType,
	        	time_effect_type as timeEffectType,
	        	delivery_info_id as deliveryInfoId,
	        	outboundbox_id as outboundboxId,
	        	outboundbox_code as outboundboxCode,
	        	status as status,
	        	ou_id as ouId,
	        	lifecycle as lifecycle,
	        	create_id as createId,
	        	create_time as createTime,
	        	last_modify_time as lastModifyTime,
	        	modified_id as modifiedId
	    ]]>
	</sql>
	<sql id="odoDeliveryInfoConditionWhereExt">
		<where>
			<if test="likeEqualsMap != null">
				<foreach collection="likeEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} like CONCAT('%',#{value},'%') 
				</foreach> 
			</if> 
			<if test="equalsMap != null"> 
				<foreach collection="equalsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} = #{value} 
				</foreach> 
			</if> 
			<if test="notEqualsMap != null"> 
				<foreach collection="notEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} != #{value} 
				</foreach> 
			</if> 
			<if test="greateMap != null"> 
				<foreach collection="greateMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &gt; #{value} 
				</foreach> 
			</if> 
			<if test="greateEqualsMap != null"> 
				<foreach collection="greateEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &gt;= #{value} 
				</foreach> 
			</if> 
			<if test="lessMap != null"> 
				<foreach collection="lessMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &lt; #{value} 
				</foreach> 
			</if> 
			<if test="lessEqualsMap != null"> 
				<foreach collection="lessEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &lt;= #{value} 
				</foreach> 
			</if> 
			<if test="nullMap != null"> 
				<foreach collection="nullMap" index="key"  item="value" separator="and" open=" and "> 
					${key} is null 
				</foreach> 
			</if> 
			<if test="notNullMap != null"> 
				<foreach collection="notNullMap" index="key"  item="value" separator="and" open=" and "> 
					${key} is not null 
				</foreach> 
			</if> 
			<if test="inMap != null"> 
				<foreach collection="inMap" index="key"  item="value" separator="and" open=" and (" close=")"> 
					<foreach collection="value" item="itemin" index="index" separator="or"> 
						${key} = #{itemin} 
					</foreach> 
				</foreach> 
			</if> 
			<if test="notInMap != null"> 
				<foreach collection="notInMap" index="key"  item="value" separator="and" open=" and (" close=")"> 
					<foreach collection="value" item="itemin" index="index" separator="and"> 
						${key} != #{itemin} 
					</foreach> 
				</foreach> 
			</if> 
		</where>
		<if test="sortBy != null"> 
			<foreach collection="sortBy" item="item" separator=","  open=" order by "> 
				${item.field} ${item.type}
			</foreach> 
		</if>
	</sql>
	
		<!-- 如果有自增字段 -->
		
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.odo.WhOdodeliveryInfo" 
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_odo_delivery_info (
		        	id,
		        	odo_id ,
		        	transport_code ,
		        	waybill_code ,
		        	transport_service_type ,
		        	time_effect_type ,
		        	delivery_info_id ,
		        	outboundbox_id ,
		        	outboundbox_code ,
		        	status ,
		        	ou_id ,
		        	lifecycle ,
		        	create_id ,
		        	create_time ,
		        	last_modify_time ,
		        	modified_id 
		        ) VALUES (
		        	#{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{odoId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{transportCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{waybillCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{transportServiceType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{timeEffectType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{deliveryInfoId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{outboundboxId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{outboundboxCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{status,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{lifecycle,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{createId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.odo.WhOdodeliveryInfo">
	    <![CDATA[
	        UPDATE t_wh_odo_delivery_info SET
		        odo_id = #{odoId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        transport_code = #{transportCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        waybill_code = #{waybillCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        transport_service_type = #{transportServiceType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        time_effect_type = #{timeEffectType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        delivery_info_id = #{deliveryInfoId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        outboundbox_id = #{outboundboxId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        outboundbox_code = #{outboundboxCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        status = #{status,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        ou_id = #{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        lifecycle = #{lifecycle,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        create_id = #{createId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        last_modify_time = #{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        modified_id = #{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
		<update id="batchUpdate">
	        UPDATE t_wh_odo_delivery_info SET
	        	<foreach collection="batchUpdateMap" index="key"  item="value" separator=",">
	        		${key} = #{value}
	        	</foreach>
	        	<include refid="odoDeliveryInfoConditionWhereExt"/>
		</update>
		
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_odo_delivery_info where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_odo_delivery_info 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	    <update id="batchDelete">
	        delete from t_wh_odo_delivery_info <include refid="odoDeliveryInfoConditionWhereExt"/>
		</update>
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="OdoDeliveryInfoResult" flushCache="false">
			select <include refid="odoDeliveryInfoColumns" />
		    <![CDATA[
			    from t_wh_odo_delivery_info 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="OdoDeliveryInfoResult" flushCache="false">
			select <include refid="odoDeliveryInfoColumns" />
			    from t_wh_odo_delivery_info 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="odoDeliveryInfoDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
				<if test="odoId!=null">
					and odo_id = #{odoId}
				</if>
	       
	       
		       <if test="transportCode!=null and transportCode!=''">
					and transport_code = #{transportCode}
				</if>
	       
	       
		       <if test="waybillCode!=null and waybillCode!=''">
					and waybill_code = #{waybillCode}
				</if>
	       
	       
		       <if test="transportServiceType!=null and transportServiceType!=''">
					and transport_service_type = #{transportServiceType}
				</if>
	       
	       
		       <if test="timeEffectType!=null and timeEffectType!=''">
					and time_effect_type = #{timeEffectType}
				</if>
	       
				<if test="deliveryInfoId!=null">
					and delivery_info_id = #{deliveryInfoId}
				</if>
	       
				<if test="outboundboxId!=null">
					and outboundbox_id = #{outboundboxId}
				</if>
	       
	       
		       <if test="outboundboxCode!=null and outboundboxCode!=''">
					and outboundbox_code = #{outboundboxCode}
				</if>
	       
				<if test="status!=null">
					and status = #{status}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
				<if test="lifecycle!=null">
					and lifecycle = #{lifecycle}
				</if>
	       
				<if test="createId!=null">
					and create_id = #{createId}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="lastModifyTime!=null">
					and last_modify_time = #{lastModifyTime}
				</if>
	       
				<if test="modifiedId!=null">
					and modified_id = #{modifiedId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_odo_delivery_info 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_odo_delivery_info 
		<include refid="odoDeliveryInfoDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_odo_delivery_info 
		<include refid="odoDeliveryInfoDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="OdoDeliveryInfoResult">
    	select <include refid="odoDeliveryInfoColumns" />
	    from t_wh_odo_delivery_info 
		<include refid="odoDeliveryInfoDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="OdoDeliveryInfoResult">
    	select <include refid="odoDeliveryInfoColumns" />
	    from t_wh_odo_delivery_info 
		<include refid="odoDeliveryInfoDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="OdoDeliveryInfoResult">
    	select <include refid="odoDeliveryInfoColumns" />
	    from t_wh_odo_delivery_info 
		<include refid="odoDeliveryInfoDynamicWhere"/>
		
    </select>
    
    <select id="query" resultMap="OdoDeliveryInfoResult">
		select <include refid="odoDeliveryInfoColumns" />
	    from t_wh_odo_delivery_info  
		<include refid="odoDeliveryInfoConditionWhereExt"/>
    </select>
    
    <select id="queryCount" resultType="long">
		select count(*) from t_wh_odo_delivery_info  
		<include refid="odoDeliveryInfoConditionWhereExt"/>
    </select>

	
</mapper>
