<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.warehouse.ContainerAssistDao">
	<resultMap id="ContainerAssistResult" type="com.baozun.scm.primservice.whoperation.model.warehouse.ContainerAssist">
	</resultMap>
	<resultMap id="ContainerAssistPaginationResult" type="lark.common.dao.Pagination">
    	<collection property="items" javaType="ArrayList" resultMap="ContainerAssistResult"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="containerAssistColumns">
	    <![CDATA[
	        	id as id,
	        	container_id as containerId,
	        	sys_weight as sysWeight,
	        	sys_volume as sysVolume,
	        	sys_length as sysLength,
	        	sys_width as sysWidth,
	        	sys_height as sysHeight,
	        	ou_id as ouId,
	        	create_time as createTime,
	        	last_modify_time as lastModifyTime,
	        	operator_id as operatorId,
	        	lifecycle as lifecycle,
	        	CARTON_QTY as cartonQty,
	        	SKU_CATEGORY as skuCategory,
	        	SKU_QTY as skuQty,
	        	STORE_QTY as storeQty,
	        	SKU_ATTR_CATEGORY as skuAttrCategory
	    ]]>
	</sql>
	<sql id="containerAssistConditionWhereExt">
		<where>
			<if test="likeEqualsMap != null">
				<foreach collection="likeEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} like CONCAT('%',#{value},'%') 
				</foreach> 
			</if> 
			<if test="equalsMap != null"> 
				<foreach collection="equalsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} = #{value} 
				</foreach> 
			</if> 
			<if test="notEqualsMap != null"> 
				<foreach collection="notEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} != #{value} 
				</foreach> 
			</if> 
			<if test="greateMap != null"> 
				<foreach collection="greateMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &gt; #{value} 
				</foreach> 
			</if> 
			<if test="greateEqualsMap != null"> 
				<foreach collection="greateEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &gt;= #{value} 
				</foreach> 
			</if> 
			<if test="lessMap != null"> 
				<foreach collection="lessMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &lt; #{value} 
				</foreach> 
			</if> 
			<if test="lessEqualsMap != null"> 
				<foreach collection="lessEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &lt;= #{value} 
				</foreach> 
			</if> 
			<if test="nullMap != null"> 
				<foreach collection="nullMap" index="key"  item="value" separator="and" open=" and "> 
					${key} is null 
				</foreach> 
			</if> 
			<if test="notNullMap != null"> 
				<foreach collection="notNullMap" index="key"  item="value" separator="and" open=" and "> 
					${key} is not null 
				</foreach> 
			</if> 
			<if test="inMap != null"> 
				<foreach collection="inMap" index="key"  item="value" separator="and" open=" and (" close=")"> 
					<foreach collection="value" item="itemin" index="index" separator="or"> 
						${key} = #{itemin} 
					</foreach> 
				</foreach> 
			</if> 
			<if test="notInMap != null"> 
				<foreach collection="notInMap" index="key"  item="value" separator="and" open=" and (" close=")"> 
					<foreach collection="value" item="itemin" index="index" separator="and"> 
						${key} != #{itemin} 
					</foreach> 
				</foreach> 
			</if> 
		</where>
		<if test="sortBy != null"> 
			<foreach collection="sortBy" item="item" separator=","  open=" order by "> 
				${item.field} ${item.type}
			</foreach> 
		</if>
	</sql>
	
		<!-- 如果有自增字段 -->
	
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.ContainerAssist" 
				 keyProperty="id" 
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_container_assist (
		        id,
		        	container_id ,
		        	sys_weight ,
		        	sys_volume ,
		        	sys_length ,
		        	sys_width ,
		        	sys_height ,
		        	ou_id ,
		        	create_time ,
		        	last_modify_time ,
		        	operator_id ,
		        	lifecycle ,
		        	CARTON_QTY ,
		        	SKU_CATEGORY ,
		        	SKU_QTY ,
		        	STORE_QTY,
		        	SKU_ATTR_CATEGORY 
		        ) VALUES (
		        	#{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{containerId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{sysWeight,javaType=Double,jdbcType=DECIMAL} ,
		        	#{sysVolume,javaType=Double,jdbcType=DECIMAL} ,
		        	#{sysLength,javaType=Double,jdbcType=DECIMAL} ,
		        	#{sysWidth,javaType=Double,jdbcType=DECIMAL} ,
		        	#{sysHeight,javaType=Double,jdbcType=DECIMAL} ,
		        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{operatorId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{lifecycle,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{cartonQty,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{skuCategory,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{skuQty,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{storeQty,javaType=java.lang.Long,jdbcType=BIGINT}, 
		        	#{skuAttrCategory,javaType=java.lang.Long,jdbcType=BIGINT} 
		        )
		    ]]>
	
			</insert>
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.ContainerAssist">
	    <![CDATA[
	        UPDATE t_wh_container_assist SET
		        container_id = #{containerId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        sys_weight = #{sysWeight,javaType=Double,jdbcType=DECIMAL} ,
		        sys_volume = #{sysVolume,javaType=Double,jdbcType=DECIMAL} ,
		        sys_length = #{sysLength,javaType=Double,jdbcType=DECIMAL} ,
		        sys_width = #{sysWidth,javaType=Double,jdbcType=DECIMAL} ,
		        sys_height = #{sysHeight,javaType=Double,jdbcType=DECIMAL} ,
		        ou_id = #{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        last_modify_time = #{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        operator_id = #{operatorId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        lifecycle = #{lifecycle,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        CARTON_QTY = #{cartonQty,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        SKU_CATEGORY = #{skuCategory,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        SKU_QTY = #{skuQty,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        STORE_QTY = #{storeQty,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        SKU_ATTR_CATEGORY = #{skuAttrCategory,javaType=java.lang.Long,jdbcType=BIGINT}
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
		<update id="batchUpdate">
	        UPDATE t_wh_container_assist SET
	        	<foreach collection="batchUpdateMap" index="key"  item="value" separator=",">
	        		${key} = #{value}
	        	</foreach>
	        	<include refid="containerAssistConditionWhereExt"/>
		</update>
		
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_container_assist where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_container_assist 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	    <update id="batchDelete">
	        delete from t_wh_container_assist <include refid="containerAssistConditionWhereExt"/>
		</update>
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="ContainerAssistResult" flushCache="false">
			select <include refid="containerAssistColumns" />
		    <![CDATA[
			    from t_wh_container_assist 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="ContainerAssistResult" flushCache="false">
			select <include refid="containerAssistColumns" />
			    from t_wh_container_assist 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="containerAssistDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
				<if test="containerId!=null">
					and container_id = #{containerId}
				</if>
	       
				<if test="sysWeight!=null">
					and sys_weight = #{sysWeight}
				</if>
	       
				<if test="sysVolume!=null">
					and sys_volume = #{sysVolume}
				</if>
	       
				<if test="sysLength!=null">
					and sys_length = #{sysLength}
				</if>
	       
				<if test="sysWidth!=null">
					and sys_width = #{sysWidth}
				</if>
	       
				<if test="sysHeight!=null">
					and sys_height = #{sysHeight}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="lastModifyTime!=null">
					and last_modify_time = #{lastModifyTime}
				</if>
	       
				<if test="operatorId!=null">
					and operator_id = #{operatorId}
				</if>
	       
				<if test="lifecycle!=null">
					and lifecycle = #{lifecycle}
				</if>
	       
				<if test="cartonQty!=null">
					and CARTON_QTY = #{cartonQty}
				</if>
	       
				<if test="skuCategory!=null">
					and SKU_CATEGORY = #{skuCategory}
				</if>
	       
				<if test="skuQty!=null">
					and SKU_QTY = #{skuQty}
				</if>
	       
				<if test="storeQty!=null">
					and STORE_QTY = #{storeQty}
				</if>
				
				<if test="skuAttrCategory!=null">
					and SKU_ATTR_CATEGORY = #{skuAttrCategory}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_container_assist 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_container_assist 
		<include refid="containerAssistDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_container_assist 
		<include refid="containerAssistDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="ContainerAssistResult">
    	select <include refid="containerAssistColumns" />
	    from t_wh_container_assist 
		<include refid="containerAssistDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="ContainerAssistResult">
    	select <include refid="containerAssistColumns" />
	    from t_wh_container_assist 
		<include refid="containerAssistDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="ContainerAssistResult">
    	select <include refid="containerAssistColumns" />
	    from t_wh_container_assist 
		<include refid="containerAssistDynamicWhere"/>
		
    </select>
    
    <select id="query" resultMap="ContainerAssistResult">
		select <include refid="containerAssistColumns" />
	    from t_wh_container_assist  
		<include refid="containerAssistConditionWhereExt"/>
    </select>
    
    <select id="queryCount" resultType="long">
		select count(*) from t_wh_container_assist  
		<include refid="containerAssistConditionWhereExt"/>
    </select>

	
</mapper>
