<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.warehouse.WhDistributionPatternRuleDao">
	<resultMap id="whDistributionPatternRuleResult" type="com.baozun.scm.primservice.whoperation.model.warehouse.WhDistributionPatternRule">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="whDistributionPatternRuleColumns">
	    <![CDATA[
	        	id as id,
	        	distribution_pattern_name as distributionPatternName,
	        	distribution_pattern_code as distributionPatternCode,
	        	rule as rule,
	        	rule_sql as ruleSql,
	        	ou_id as ouId,
	        	picking_mode as pickingMode,
	        	priority as priority,
	        	is_need_outbound_carton as isNeedOutboundCarton,
	        	description as description,
	        	create_time as createTime,
	        	last_modify_time as lastModifyTime,
	        	created_id as createdId,
	        	modified_id as modifiedId,
	        	lifecycle as lifecycle
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
		
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.WhDistributionPatternRule" 
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_distribution_pattern_rule (
		        id,
		        	distribution_pattern_name ,
		        	distribution_pattern_code ,
		        	rule ,
		        	rule_sql ,
		        	ou_id ,
		        	picking_mode ,
		        	priority ,
		        	is_need_outbound_carton ,
		        	description ,
		        	create_time ,
		        	last_modify_time ,
		        	created_id ,
		        	modified_id ,
		        	lifecycle 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{distributionPatternName,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{distributionPatternCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{rule,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{ruleSql,javaType=java.lang.String,jdbcType=LONGVARCHAR} ,
		        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{pickingMode,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{priority,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{isNeedOutboundCarton,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        	#{description,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{createdId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{lifecycle,javaType=java.lang.Integer,jdbcType=INTEGER} 
		        )
		    ]]>

		</insert>
		
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.WhDistributionPatternRule">
	    <![CDATA[
	        UPDATE t_wh_distribution_pattern_rule SET
		        distribution_pattern_name = #{distributionPatternName,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        distribution_pattern_code = #{distributionPatternCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        rule = #{rule,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        rule_sql = #{ruleSql,javaType=java.lang.String,jdbcType=LONGVARCHAR} ,
		        ou_id = #{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        picking_mode = #{pickingMode,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        priority = #{priority,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        is_need_outbound_carton = #{isNeedOutboundCarton,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        description = #{description,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        last_modify_time = #{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        created_id = #{createdId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        modified_id = #{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        lifecycle = #{lifecycle,javaType=java.lang.Integer,jdbcType=INTEGER} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_distribution_pattern_rule where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_distribution_pattern_rule 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="whDistributionPatternRuleResult" flushCache="false">
			select <include refid="whDistributionPatternRuleColumns" />
		    <![CDATA[
			    from t_wh_distribution_pattern_rule 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="whDistributionPatternRuleResult" flushCache="false">
			select <include refid="whDistributionPatternRuleColumns" />
			    from t_wh_distribution_pattern_rule 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="whDistributionPatternRuleDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="distributionPatternName!=null and distributionPatternName!=''">
					and distribution_pattern_name = #{distributionPatternName}
				</if>
	       
	       
		       <if test="distributionPatternCode!=null and distributionPatternCode!=''">
					and distribution_pattern_code = #{distributionPatternCode}
				</if>
	       
	       
		       <if test="rule!=null and rule!=''">
					and rule = #{rule}
				</if>
	       
	       
		       <if test="ruleSql!=null and ruleSql!=''">
					and rule_sql = #{ruleSql}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
				<if test="pickingMode!=null">
					and picking_mode = #{pickingMode}
				</if>
	       
				<if test="priority!=null">
					and priority = #{priority}
				</if>
	       
				<if test="isNeedOutboundCarton!=null">
					and is_need_outbound_carton = #{isNeedOutboundCarton}
				</if>
	       
	       
		       <if test="description!=null and description!=''">
					and description = #{description}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="lastModifyTime!=null">
					and last_modify_time = #{lastModifyTime}
				</if>
	       
				<if test="createdId!=null">
					and created_id = #{createdId}
				</if>
	       
				<if test="modifiedId!=null">
					and modified_id = #{modifiedId}
				</if>
	       
				<if test="lifecycle!=null">
					and lifecycle = #{lifecycle}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_distribution_pattern_rule 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_distribution_pattern_rule 
		<include refid="whDistributionPatternRuleDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_distribution_pattern_rule 
		<include refid="whDistributionPatternRuleDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="whDistributionPatternRuleResult">
    	select <include refid="whDistributionPatternRuleColumns" />
	    from t_wh_distribution_pattern_rule 
		<include refid="whDistributionPatternRuleDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="whDistributionPatternRuleResult">
    	select <include refid="whDistributionPatternRuleColumns" />
	    from t_wh_distribution_pattern_rule 
		<include refid="whDistributionPatternRuleDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="whDistributionPatternRuleResult">
    	select <include refid="whDistributionPatternRuleColumns" />
	    from t_wh_distribution_pattern_rule 
		<include refid="whDistributionPatternRuleDynamicWhere"/>
		
    </select>

	
</mapper>
