<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.warehouse.WhFacilityPathDao">
	<resultMap id="WhFacilityPathResult" type="com.baozun.scm.primservice.whoperation.model.warehouse.WhFacilityPath">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="whFacilityPathColumns">
	    <![CDATA[
	        	id as id,
	        	from_area_type as fromAreaType,
	        	from_area_code as fromAreaCode,
	        	from_area_name as fromAreaName,
	        	to_area_type as toAreaType,
	        	to_area_code as toAreaCode,
	        	to_area_name as toAreaName,
	        	transit_location_code as transitLocationCode,
	        	ou_id as ouId,
	        	create_time as createTime,
	        	last_modify_time as lastModifyTime,
	        	operator_id as operatorId
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
		
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.WhFacilityPath" 
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_facility_path (
		        id,
		        	from_area_type ,
		        	from_area_code ,
		        	from_area_name ,
		        	to_area_type ,
		        	to_area_code ,
		        	to_area_name ,
		        	transit_location_code ,
		        	ou_id ,
		        	create_time ,
		        	last_modify_time ,
		        	operator_id 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{fromAreaType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{fromAreaCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{fromAreaName,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{toAreaType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{toAreaCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{toAreaName,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{transitLocationCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{operatorId,javaType=java.lang.Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.WhFacilityPath">
	    <![CDATA[
	        UPDATE t_wh_facility_path SET
		        from_area_type = #{fromAreaType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        from_area_code = #{fromAreaCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        from_area_name = #{fromAreaName,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        to_area_type = #{toAreaType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        to_area_code = #{toAreaCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        to_area_name = #{toAreaName,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        transit_location_code = #{transitLocationCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ou_id = #{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        last_modify_time = #{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        operator_id = #{operatorId,javaType=java.lang.Long,jdbcType=BIGINT} 
	        WHERE 
		        id = #{id} 
		        and ou_id = #{ouId}
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_facility_path where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_facility_path 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="WhFacilityPathResult" flushCache="false">
			select <include refid="whFacilityPathColumns" />
		    <![CDATA[
			    from t_wh_facility_path 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="WhFacilityPathResult" flushCache="false">
			select <include refid="whFacilityPathColumns" />
			    from t_wh_facility_path 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="whFacilityPathDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="fromAreaType!=null and fromAreaType!=''">
					and from_area_type = #{fromAreaType}
				</if>
	       
	       
		       <if test="fromAreaCode!=null and fromAreaCode!=''">
					and from_area_code = #{fromAreaCode}
				</if>
	       
	       
		       <if test="toAreaType!=null and toAreaType!=''">
					and to_area_type = #{toAreaType}
				</if>
	       
	       
		       <if test="toAreaCode!=null and toAreaCode!=''">
					and to_area_code = #{toAreaCode}
				</if>
	       
	       
		       <if test="toAreaName!=null and toAreaName!=''">
					and to_area_name = #{toAreaName}
				</if>
	       
	       
		       <if test="transitLocationCode!=null and transitLocationCode!=''">
					and transit_location_code = #{transitLocationCode}
				</if>
	       
	       
		       <!-- <if test="transitLocationName!=null and transitLocationName!=''">
					and transit_location_name = #{transitLocationName}
				</if> -->
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="lastModifyTime!=null">
					and last_modify_time = #{lastModifyTime}
				</if>
	       
				<if test="operatorId!=null">
					and operator_id = #{operatorId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_facility_path 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_facility_path 
		<include refid="whFacilityPathDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_facility_path 
		<include refid="whFacilityPathDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="WhFacilityPathResult">
    	select <include refid="whFacilityPathColumns" />
	    from t_wh_facility_path 
		<include refid="whFacilityPathDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="WhFacilityPathResult">
    	select <include refid="whFacilityPathColumns" />
	    from t_wh_facility_path 
		<include refid="whFacilityPathDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="WhFacilityPathResult">
    	select <include refid="whFacilityPathColumns" />
	    from t_wh_facility_path 
		<include refid="whFacilityPathDynamicWhere"/>
		
    </select>

	
</mapper>
