<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.warehouse.WhInvoiceDao">
	<resultMap id="WhInvoiceResult" type="com.baozun.scm.primservice.whoperation.model.warehouse.WhInvoice">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="whInvoiceColumns">
	    <![CDATA[
	        	id as id,
	        	odo_code as odoCode,
	        	store_code as storeCode,
	        	invoice_code as invoiceCode,
	        	invoice_date as invoiceDate,
	        	invoice_no as invoiceNo,
	        	payer as payer,
	        	item as item,
	        	qty as qty,
	        	unit_price as unitPrice,
	        	amt as amt,
	        	memo as memo,
	        	payee as payee,
	        	drawer as drawer,
	        	export_count as exportCount,
	        	export_batch as exportBatch,
	        	company as company,
	        	is_freight_invoice_sunder as isFreightInvoiceSunder,
	        	data_source as dataSource,
	        	ou_id as ouId,
	        	create_time as createTime,
	        	last_modify_time as lastModifyTime,
	        	operator_id as operatorId,
	        	is_export as isExport
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
		
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.WhInvoice" 
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_invoice (
		        id,
		        	odo_code ,
		        	store_code ,
		        	invoice_code ,
		        	invoice_date ,
		        	invoice_no ,
		        	payer ,
		        	item ,
		        	qty ,
		        	unit_price ,
		        	amt ,
		        	memo ,
		        	payee ,
		        	drawer ,
		        	export_count ,
		        	export_batch ,
		        	company ,
		        	is_freight_invoice_sunder ,
		        	data_source,
		        	ou_id ,
		        	create_time ,
		        	last_modify_time ,
		        	operator_id ,
		        	is_export
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{odoCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{storeCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invoiceCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invoiceDate,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invoiceNo,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{payer,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{item,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{qty,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{unitPrice,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        	#{amt,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        	#{memo,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{payee,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{drawer,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{exportCount,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{exportBatch,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{company,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{isFreightInvoiceSunder,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        	#{dataSource,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{operatorId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{isExport,javaType=java.lang.Boolean,jdbcType=BIT}
		        )
		    ]]>

		</insert>
		
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.WhInvoice">
	    <![CDATA[
	        UPDATE t_wh_invoice SET
		        odo_code = #{odoCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        store_code = #{storeCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        invoice_code = #{invoiceCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        invoice_date = #{invoiceDate,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        invoice_no = #{invoiceNo,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        payer = #{payer,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        item = #{item,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        qty = #{qty,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        unit_price = #{unitPrice,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        amt = #{amt,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        memo = #{memo,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        payee = #{payee,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        drawer = #{drawer,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        export_count = #{exportCount,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        export_batch = #{exportBatch,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        company = #{company,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        is_freight_invoice_sunder = #{isFreightInvoiceSunder,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        data_source = #{dataSource,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        last_modify_time = now() ,
		        operator_id = #{operatorId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        is_export = #{isExport,javaType=java.lang.Boolean,jdbcType=BIT}
	        WHERE 
		        id = #{id} 
		        and ou_id = #{ouId}
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_invoice where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_invoice 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="WhInvoiceResult" flushCache="false">
			select <include refid="whInvoiceColumns" />
		    <![CDATA[
			    from t_wh_invoice 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="WhInvoiceResult" flushCache="false">
			select <include refid="whInvoiceColumns" />
			    from t_wh_invoice 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="whInvoiceDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="odoCode!=null and odoCode!=''">
					and odo_code = #{odoCode}
				</if>
	       
	       
		       <if test="storeCode!=null and storeCode!=''">
					and store_code = #{storeCode}
				</if>
	       
	       
		       <if test="invoiceCode!=null and invoiceCode!=''">
					and invoice_code = #{invoiceCode}
				</if>
	       
	       
		       <if test="invoiceDate!=null and invoiceDate!=''">
					and invoice_date = #{invoiceDate}
				</if>
	       
	       
		       <if test="invoiceNo!=null and invoiceNo!=''">
					and invoice_no = #{invoiceNo}
				</if>
	       
	       
		       <if test="payer!=null and payer!=''">
					and payer = #{payer}
				</if>
	       
	       
		       <if test="item!=null and item!=''">
					and item = #{item}
				</if>
	       
				<if test="qty!=null">
					and qty = #{qty}
				</if>
	       
				<if test="unitPrice!=null">
					and unit_price = #{unitPrice}
				</if>
	       
				<if test="amt!=null">
					and amt = #{amt}
				</if>
	       
	       
		       <if test="memo!=null and memo!=''">
					and memo = #{memo}
				</if>
	       
	       
		       <if test="payee!=null and payee!=''">
					and payee = #{payee}
				</if>
	       
	       
		       <if test="drawer!=null and drawer!=''">
					and drawer = #{drawer}
				</if>
	       
				<if test="exportCount!=null">
					and export_count = #{exportCount}
				</if>
	       
	       
		       <if test="exportBatch!=null and exportBatch!=''">
					and export_batch = #{exportBatch}
				</if>
	       
	       
		       <if test="company!=null and company!=''">
					and company = #{company}
				</if>
	       
				<if test="isFreightInvoiceSunder!=null">
					and is_freight_invoice_sunder = #{isFreightInvoiceSunder}
				</if>
				
				<if test="isExport!=null">
					and is_export = #{isExport}
				</if>
	       
				<if test="dataSource!=null">
					and data_source = #{dataSource}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="lastModifyTime!=null">
					and last_modify_time = #{lastModifyTime}
				</if>
	       
				<if test="operatorId!=null">
					and operator_id = #{operatorId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_invoice 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_invoice 
		<include refid="whInvoiceDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_invoice 
		<include refid="whInvoiceDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="WhInvoiceResult">
    	select <include refid="whInvoiceColumns" />
	    from t_wh_invoice 
		<include refid="whInvoiceDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="WhInvoiceResult">
    	select <include refid="whInvoiceColumns" />
	    from t_wh_invoice 
		<include refid="whInvoiceDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="WhInvoiceResult">
    	select <include refid="whInvoiceColumns" />
	    from t_wh_invoice 
		<include refid="whInvoiceDynamicWhere"/>
		
    </select>

	
</mapper>
