<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.system.SysThreadDeployDao">
	<resultMap id="SysThreadDeployResult" type="com.baozun.scm.primservice.whoperation.model.system.SysThreadDeploy">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="sysThreadDeployColumns">
	    <![CDATA[
	        	id as id,
	        	thread_code as threadCode,
	        	description as description,
	        	thread_qty as threadQty,
	        	run_qty as runQty,
	        	ou_id as ouId,
	        	create_time as createTime,
	        	create_id as createId,
	        	last_modify_time as lastModifyTime,
	        	operator_id as operatorId
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
		
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.system.SysThreadDeploy" 
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        sys_thread_deploy (
		        id,
		        	thread_code ,
		        	description ,
		        	thread_qty ,
		        	run_qty ,
		        	ou_id ,
		        	create_time ,
		        	create_id ,
		        	last_modify_time ,
		        	operator_id 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{threadCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{description,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{threadQty,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{runQty,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{createId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{operatorId,javaType=java.lang.Long,jdbcType=BIGINT} 
		        )
		    ]]>

		</insert>
		
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.system.SysThreadDeploy">
	    <![CDATA[
	        UPDATE sys_thread_deploy SET
		        thread_code = #{threadCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        description = #{description,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        thread_qty = #{threadQty,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        run_qty = #{runQty,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        create_id = #{createId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        last_modify_time = #{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        operator_id = #{operatorId,javaType=java.lang.Long,jdbcType=BIGINT} 
	        WHERE 
		        id = #{id} 
		        and ou_id = #{ouId}
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from sys_thread_deploy where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	        delete from sys_thread_deploy 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
					#{item}				
				</foreach>	
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="SysThreadDeployResult" flushCache="false">
			select <include refid="sysThreadDeployColumns" />
		    <![CDATA[
			    from sys_thread_deploy 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="SysThreadDeployResult" flushCache="false">
			select <include refid="sysThreadDeployColumns" />
			    from sys_thread_deploy 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
					#{item}				
				</foreach>					
		</select>	
	<sql id="sysThreadDeployDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="threadCode!=null and threadCode!=''">
					and thread_code = #{threadCode}
				</if>
	       
	       
		       <if test="description!=null and description!=''">
					and description = #{description}
				</if>
	       
				<if test="threadQty!=null">
					and thread_qty = #{threadQty}
				</if>
	       
				<if test="runQty!=null">
					and run_qty = #{runQty}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="createId!=null">
					and create_id = #{createId}
				</if>
	       
				<if test="lastModifyTime!=null">
					and last_modify_time = #{lastModifyTime}
				</if>
	       
				<if test="operatorId!=null">
					and operator_id = #{operatorId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from sys_thread_deploy 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from sys_thread_deploy 
		<include refid="sysThreadDeployDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from sys_thread_deploy 
		<include refid="sysThreadDeployDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="SysThreadDeployResult">
    	select <include refid="sysThreadDeployColumns" />
	    from sys_thread_deploy 
		<include refid="sysThreadDeployDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="SysThreadDeployResult">
    	select <include refid="sysThreadDeployColumns" />
	    from sys_thread_deploy 
		<include refid="sysThreadDeployDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="SysThreadDeployResult">
    	select <include refid="sysThreadDeployColumns" />
	    from sys_thread_deploy 
		<include refid="sysThreadDeployDynamicWhere"/>
		
    </select>

	
</mapper>
