<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.warehouse.inventory.WhSkuInventoryLogDao">
	<resultMap id="WhSkuInventoryLogResult" type="com.baozun.scm.primservice.whoperation.model.warehouse.inventory.WhSkuInventoryLog">
	</resultMap>
	<resultMap id="WhSkuInventoryLogPaginationResult" type="lark.common.dao.Pagination">
    	<collection property="items" javaType="ArrayList" resultMap="WhSkuInventoryLogResult"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="whSkuInventoryLogColumns">
	    <![CDATA[
	        	id as id,
	        	sku_code as skuCode,
	        	location_code as locationCode,
	        	outer_container_code as outerContainerCode,
	        	inside_container_code as insideContainerCode,
	        	customer_code as customerCode,
	        	store_code as storeCode,
	        	occupation_code as occupationCode,
	        	revision_qty as revisionQty,
	        	old_qty as oldQty,
	        	new_qty as newQty,
	        	inv_status as invStatus,
	        	inv_type as invType,
	        	batch_number as batchNumber,
	        	mfg_date as mfgDate,
	        	exp_date as expDate,
	        	country_of_origin as countryOfOrigin,
	        	inv_attr1 as invAttr1,
	        	inv_attr2 as invAttr2,
	        	inv_attr3 as invAttr3,
	        	inv_attr4 as invAttr4,
	        	inv_attr5 as invAttr5,
	        	uuid as uuid,
	        	is_locked as isLocked,
	        	ou_id as ouId,
	        	occupation_code_source as occupationCodeSource,
	        	inbound_time as inboundTime,
	        	modified_id as modifiedId,
	        	modify_time as modifyTime,
	        	ext_code as extCode,
	        	color as color,
	        	style as style,
	        	size as size,
	        	inv_transaction_type as invTransactionType,
	        	seeding_wall_code as seedingWallCode,
	        	container_lattice_no as containerLatticeNo,
	        	outboundbox_code as outboundboxCode
	    ]]>
	</sql>
	<sql id="whSkuInventoryLogConditionWhereExt">
		<where>
			<if test="likeEqualsMap != null">
				<foreach collection="likeEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} like CONCAT('%',#{value},'%') 
				</foreach> 
			</if> 
			<if test="equalsMap != null"> 
				<foreach collection="equalsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} = #{value} 
				</foreach> 
			</if> 
			<if test="notEqualsMap != null"> 
				<foreach collection="notEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} != #{value} 
				</foreach> 
			</if> 
			<if test="greateMap != null"> 
				<foreach collection="greateMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &gt; #{value} 
				</foreach> 
			</if> 
			<if test="greateEqualsMap != null"> 
				<foreach collection="greateEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &gt;= #{value} 
				</foreach> 
			</if> 
			<if test="lessMap != null"> 
				<foreach collection="lessMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &lt; #{value} 
				</foreach> 
			</if> 
			<if test="lessEqualsMap != null"> 
				<foreach collection="lessEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &lt;= #{value} 
				</foreach> 
			</if> 
			<if test="nullMap != null"> 
				<foreach collection="nullMap" index="key"  item="value" separator="and" open=" and "> 
					${key} is null 
				</foreach> 
			</if> 
			<if test="notNullMap != null"> 
				<foreach collection="notNullMap" index="key"  item="value" separator="and" open=" and "> 
					${key} is not null 
				</foreach> 
			</if> 
			<if test="inMap != null"> 
				<foreach collection="inMap" index="key"  item="value" separator="and" open=" and (" close=")"> 
					<foreach collection="value" item="itemin" index="index" separator="or"> 
						${key} = #{itemin} 
					</foreach> 
				</foreach> 
			</if> 
			<if test="notInMap != null"> 
				<foreach collection="notInMap" index="key"  item="value" separator="and" open=" and (" close=")"> 
					<foreach collection="value" item="itemin" index="index" separator="and"> 
						${key} != #{itemin} 
					</foreach> 
				</foreach> 
			</if> 
		</where>
		<if test="sortBy != null"> 
			<foreach collection="sortBy" item="item" separator=","  open=" order by "> 
				${item.field} ${item.type}
			</foreach> 
		</if>
	</sql>
	
		<!-- 如果有自增字段 -->
		
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.inventory.WhSkuInventoryLog" 
				
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_sku_inventory_log${sysDate} (
		       		id,
		        	sku_code ,
		        	location_code ,
		        	outer_container_code ,
		        	inside_container_code ,
		        	customer_code ,
		        	store_code ,
		        	occupation_code ,
		        	revision_qty ,
		        	old_qty ,
		        	new_qty ,
		        	inv_status ,
		        	inv_type ,
		        	batch_number ,
		        	mfg_date ,
		        	exp_date ,
		        	country_of_origin ,
		        	inv_attr1 ,
		        	inv_attr2 ,
		        	inv_attr3 ,
		        	inv_attr4 ,
		        	inv_attr5 ,
		        	uuid ,
		        	is_locked ,
		        	ou_id ,
		        	occupation_code_source ,
		        	inbound_time ,
		        	modified_id ,
		        	modify_time ,
		        	ext_code ,
		        	color ,
		        	style ,
		        	size ,
		        	inv_transaction_type ,
		        	seeding_wall_code ,
		        	container_lattice_no ,
		        	outboundbox_code 
		        ) VALUES (
		        #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{skuCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{locationCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{outerContainerCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{insideContainerCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{customerCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{storeCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{occupationCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{revisionQty,javaType=Double,jdbcType=DECIMAL} ,
		        	#{oldQty,javaType=Double,jdbcType=DECIMAL} ,
		        	#{newQty,javaType=Double,jdbcType=DECIMAL} ,
		        	#{invStatus,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{batchNumber,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{mfgDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{expDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{countryOfOrigin,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invAttr1,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invAttr2,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invAttr3,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invAttr4,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invAttr5,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{uuid,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{isLocked,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{occupationCodeSource,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{inboundTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{modifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{extCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{color,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{style,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{size,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invTransactionType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{seedingWallCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{containerLatticeNo,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        	#{outboundboxCode,javaType=java.lang.String,jdbcType=VARCHAR} 
		        )
		    ]]>

		</insert>
		
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.warehouse.inventory.WhSkuInventoryLog">
	    <![CDATA[
	        UPDATE t_wh_sku_inventory_log${sysDate} SET
		        sku_code = #{skuCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        location_code = #{locationCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        outer_container_code = #{outerContainerCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        inside_container_code = #{insideContainerCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        customer_code = #{customerCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        store_code = #{storeCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        occupation_code = #{occupationCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        revision_qty = #{revisionQty,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        old_qty = #{oldQty,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        new_qty = #{newQty,javaType=java.lang.Double,jdbcType=DECIMAL} ,
		        inv_status = #{invStatus,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        inv_type = #{invType,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        batch_number = #{batchNumber,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        mfg_date = #{mfgDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        exp_date = #{expDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        country_of_origin = #{countryOfOrigin,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        inv_attr1 = #{invAttr1,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        inv_attr2 = #{invAttr2,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        inv_attr3 = #{invAttr3,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        inv_attr4 = #{invAttr4,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        inv_attr5 = #{invAttr5,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        uuid = #{uuid,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        is_locked = #{isLocked,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        occupation_code_source = #{occupationCodeSource,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        inbound_time = #{inboundTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        modified_id = #{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        modify_time = #{modifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        ext_code = #{extCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        color = #{color,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        style = #{style,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        size = #{size,javaType=java.lang.String,jdbcType=VARCHAR}
	        WHERE 
		        id = #{id} 
		        and ou_id = #{ouid}
	    ]]>
		</update>
		<update id="batchUpdate">
	        UPDATE t_wh_sku_inventory_log${sysDate} SET
	        	<foreach collection="batchUpdateMap" index="key"  item="value" separator=",">
	        		${key} = #{value}
	        	</foreach>
	        	<include refid="whSkuInventoryLogConditionWhereExt"/>
		</update>
		
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_sku_inventory_log${sysDate} where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_sku_inventory_log${sysDate} 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	    <update id="batchDelete">
	        delete from t_wh_sku_inventory_log${sysDate} <include refid="whSkuInventoryLogConditionWhereExt"/>
		</update>
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="WhSkuInventoryLogResult" flushCache="false">
			select <include refid="whSkuInventoryLogColumns" />
		    <![CDATA[
			    from t_wh_sku_inventory_log${sysDate} 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="WhSkuInventoryLogResult" flushCache="false">
			select <include refid="whSkuInventoryLogColumns" />
			    from t_wh_sku_inventory_log${sysDate} 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="whSkuInventoryLogDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="skuCode!=null and skuCode!=''">
					and sku_code = #{skuCode}
				</if>
	       
	       
		       <if test="locationCode!=null and locationCode!=''">
					and location_code = #{locationCode}
				</if>
	       
	       
		       <if test="outerContainerCode!=null and outerContainerCode!=''">
					and outer_container_code = #{outerContainerCode}
				</if>
	       
	       
		       <if test="insideContainerCode!=null and insideContainerCode!=''">
					and inside_container_code = #{insideContainerCode}
				</if>
	       
	       
		       <if test="customerCode!=null and customerCode!=''">
					and customer_code = #{customerCode}
				</if>
	       
	       
		       <if test="storeCode!=null and storeCode!=''">
					and store_code = #{storeCode}
				</if>
	       
	       
		       <if test="occupationCode!=null and occupationCode!=''">
					and occupation_code = #{occupationCode}
				</if>
	       
				<if test="revisionQty!=null">
					and revision_qty = #{revisionQty}
				</if>
	       
				<if test="oldQty!=null">
					and old_qty = #{oldQty}
				</if>
	       
				<if test="newQty!=null">
					and new_qty = #{newQty}
				</if>
	       
	       
		       <if test="invStatus!=null and invStatus!=''">
					and inv_status = #{invStatus}
				</if>
	       
	       
		       <if test="invType!=null and invType!=''">
					and inv_type = #{invType}
				</if>
	       
	       
		       <if test="batchNumber!=null and batchNumber!=''">
					and batch_number = #{batchNumber}
				</if>
	       
				<if test="mfgDate!=null">
					and mfg_date = #{mfgDate}
				</if>
	       
				<if test="expDate!=null">
					and exp_date = #{expDate}
				</if>
	       
	       
		       <if test="countryOfOrigin!=null and countryOfOrigin!=''">
					and country_of_origin = #{countryOfOrigin}
				</if>
	       
	       
		       <if test="invAttr1!=null and invAttr1!=''">
					and inv_attr1 = #{invAttr1}
				</if>
	       
	       
		       <if test="invAttr2!=null and invAttr2!=''">
					and inv_attr2 = #{invAttr2}
				</if>
	       
	       
		       <if test="invAttr3!=null and invAttr3!=''">
					and inv_attr3 = #{invAttr3}
				</if>
	       
	       
		       <if test="invAttr4!=null and invAttr4!=''">
					and inv_attr4 = #{invAttr4}
				</if>
	       
	       
		       <if test="invAttr5!=null and invAttr5!=''">
					and inv_attr5 = #{invAttr5}
				</if>
	       
	       
		       <if test="uuid!=null and uuid!=''">
					and uuid = #{uuid}
				</if>
	       
				<if test="isLocked!=null">
					and is_locked = #{isLocked}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
	       
		       <if test="occupationCodeSource!=null and occupationCodeSource!=''">
					and occupation_code_source = #{occupationCodeSource}
				</if>
	       
				<if test="inboundTime!=null">
					and inbound_time = #{inboundTime}
				</if>
	       
				<if test="modifiedId!=null">
					and modified_id = #{modifiedId}
				</if>
	       
				<if test="modifyTime!=null">
					and modify_time = #{modifyTime}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_sku_inventory_log${sysDate} 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_sku_inventory_log${sysDate} 
		<include refid="whSkuInventoryLogDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_sku_inventory_log${sysDate} 
		<include refid="whSkuInventoryLogDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="WhSkuInventoryLogResult">
    	select <include refid="whSkuInventoryLogColumns" />
	    from t_wh_sku_inventory_log${sysDate} 
		<include refid="whSkuInventoryLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="WhSkuInventoryLogResult">
    	select <include refid="whSkuInventoryLogColumns" />
	    from t_wh_sku_inventory_log${sysDate} 
		<include refid="whSkuInventoryLogDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="WhSkuInventoryLogResult">
    	select <include refid="whSkuInventoryLogColumns" />
	    from t_wh_sku_inventory_log${sysDate} 
		<include refid="whSkuInventoryLogDynamicWhere"/>
		
    </select>
    
    <select id="query" resultMap="WhSkuInventoryLogResult">
		select <include refid="whSkuInventoryLogColumns" />
	    from t_wh_sku_inventory_log${sysDate}  
		<include refid="whSkuInventoryLogConditionWhereExt"/>
    </select>
    
    <select id="queryCount" resultType="long">
		select count(*) from t_wh_sku_inventory_log${sysDate}  
		<include refid="whSkuInventoryLogConditionWhereExt"/>
    </select>

	
</mapper>
