<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.app.name}"  />
  
    <!-- 使用multicast广播注册中心暴露服务地址 -->
<!--     <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
    
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <dubbo:registry address="${dubbo.registry.address}" register="${dubbo.register.flag}" />  
 

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol  id="dubbo" name="dubbo" port="${dubbo.app.port}" />
	<dubbo:provider protocol="dubbo" default="true" version="${dubbo.default.version}" timeout="350000" />
	
	
    <dubbo:monitor address="${dubbo.monitor.address}"/>
    
    
 
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.system.SchedulerTaskManager" ref="schedulerTaskManager" />
    
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.system.SysDictionaryManager" ref="sysDictionaryManager" />
    
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.system.AppConfigManager" ref="appConfigManager" />
    
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.DemoManager" ref="demoManager" />
    
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.test.TestManager" ref="testManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.RoleManager" ref="roleManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.UserManager" ref="userManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.PrivilegeManager" ref="privilegeManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.OperationUnitTypeManager" ref="operationUnitTypeManager" />
 	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.UserRoleManager" ref="userRoleManager" />
 	
 	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.MenuItemManager" ref="menuItemManager" />
 	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.OperationUnitManager" ref="operationUnitManager" />
 	
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.localauth.LocalRoleManager" ref="localRoleManager" />
 	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.localauth.LocalUserManager" ref="localUserManager" />
 	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.localauth.LocalPrivilegeManager" ref="localPrivilegeManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.baseinfo.pwh.LocationManager" ref="locationManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.baseinfo.device.DevicePdaManager" ref="devicePdaManager" /> 
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.PrivilegeAndUrlManager" ref="privilegeAndUrlManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.localauth.LocalPrivilegeAndUrlManager" ref="localPrivilegeAndUrlManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WarehouseManager" ref="warehouseManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.RegionManager" ref="regionManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.UomManager" ref="uomManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.LocationTempletManager" ref="locationTempletManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.LocationTempletRulesManager" ref="locationTempletRulesManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.LocationManager" ref="whLocationManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.InventoryStatusManager" ref="inventoryStatusManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.LocationManagerProxy" ref="whLocationManagerProxy" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.LocationLogManager" ref="locationLogManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.LogisticsProviderManager" ref="logisticsProviderManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.SupplierManager" ref="supplierManager" />  
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.ContainerManager" ref="containerManager" />
	<!-- 区域管理 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.AreaManager" ref="areaManager" />  
	
	<!-- 模糊查询 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.GeneralFilterManager" ref="generalFilterManager" />  
	
    <!--生成远程服务代理，可以和本地bean一样使用demoService-->
<!--     <dubbo:reference id="demoManager" interface="com.baozun.scm.primservice.whoperation.manager.DemoManager" cluster="failfast" loadbalance="consistenthash"/> -->
 
 
    <!-- 和本地bean一样实现服务 -->
<!--     <bean id="demoManager" class="com.baozun.scm.primservice.whoperation.manager.DemoManagerImpl" /> -->
 
 	<!-- 扫描包中所有的方服务 -->
<!--  	<dubbo:annotation package="com.baozun.scm.primservice.whoperation.manager" /> -->

</beans>
