<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.app.name}"  />
  
    <!-- 使用multicast广播注册中心暴露服务地址 -->
<!--     <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
    
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <dubbo:registry address="${dubbo.registry.address}" register="${dubbo.register.flag}" />  
 

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol  id="dubbo" name="dubbo" port="${dubbo.app.port}" />
	<dubbo:provider protocol="dubbo" default="true" version="${dubbo.default.version}" timeout="350000" />
	
	
    <dubbo:monitor address="${dubbo.monitor.address}"/>
    
    
 
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.AsnManager"  ref="asnManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.PoManager"  ref="poManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnproxy.CreatePoAsnManagerProxy"  ref="createPoAsnManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnproxy.SelectPoAsnManagerProxy"  ref="selectPoAsnManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnproxy.EditPoAsnManagerProxy"  ref="editPoAsnManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.AsnLineManager"  ref="asnLineManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.system.GlobalLogManager"  ref="globalLogManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryModifyManager"  ref="inventoryModifyManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryOccupyManager"  ref="inventoryOccupyManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryLogManager"  ref="inventoryLogManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryLockManager"  ref="inventoryLockManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryValidateManager"  ref="inventoryValidateManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.outbound.InventoryModifyOutboundManager"  ref="inventoryModifyOutboundManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.outbound.CommonOutboundManager"  ref="commonOutboundManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inbound.InventoryModifyInboundManager"  ref="inventoryModifyInboundManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inbound.CommonInboundManager"  ref="commonInboundManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.carton.WhCartonManager" ref="whCartonManager" />  
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.PdaRcvdManagerProxy"  ref="pdaRcvdManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.PdaRcvdRedisManagerProxy"  ref="pdaRcvdRedisManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.inbound.putaway.PdaPutawayManager"  ref="pdaPutawayManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.CheckInManagerProxy"  ref="checkInManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.sortation.PdaInboundSortationManager"  ref="pdaInboundSortationManager" />
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.sortation.WhContainerAssignManager" ref="whContainerAssignManager" />  
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventoryLogManager" ref="whSkuInventoryLogManager" />  
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventorySnLogManager" ref="whSkuInventorySnLogManager" />
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.OdoManagerProxy" ref="odoManagerProxy" />
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.OdoMergeManagerProxy" ref="odoMergeManagerProxy" />

   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.sortation.WhContainerAssignManager" ref="whContainerAssignManager" />  
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventoryLogManager" ref="whSkuInventoryLogManager" />  
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventorySnLogManager" ref="whSkuInventorySnLogManager" /> 
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.inbound.putaway.PdaSysSuggestPutwayManager"  ref="pdaSysSuggestPutwayManager" /> 
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventorySnLogManager" ref="whSkuInventorySnLogManager" />
    <!-- 人为指定上架-->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.putaway.PdaManMadePutawayManager"  ref="pdaManMadePutawayManager" />
	<!-- 软分配 -->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.proxy.WhWaveSoftManagerProxy"  ref="whWaveSoftManagerProxy" />
	<!-- 波次中合并出库单 -->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.proxy.WaveOdoMergeManagerProxy"  ref="waveOdoMergeManagerProxy" />
	<!-- 配货模式 -->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.proxy.WaveDistributionModeManagerProxy"  ref="waveDistributionModeManagerProxy" />
	<!-- 库位补货 -->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.proxy.LocationReplenishmentManagerProxy"  ref="locationReplenishmentManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.LocationManager"  ref="locationManagerProxy" />
	<!-- 硬分配 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.manager.OdoManager" ref="odoManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.WhWaveManager" ref="whWaveManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.WhWaveLineManager" ref="whWaveLineManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WarehouseManager" ref="warehouseManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.system.SysDictionaryManager" ref="sysDictionaryManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.system.SysThreadDeployManager" ref="sysThreadDeployManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.AllocateStrategyManager" ref="allocateStrategyManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventoryManager" ref="whSkuInventoryManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventoryManagerProxy" ref="whSkuInventoryManagerProxy" />
	<!-- 补货 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.ReplenishmentRuleManager" ref="replenishmentRuleManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.ReplenishmentTaskManager" ref="replenishmentTaskManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.rule.RuleManager" ref="ruleManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.proxy.ReplenishedManagerProxy" ref="replenishedManagerProxy" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhLocationSkuVolumeManager" ref="whLocationSkuVolumeManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhFacilityGroupSkuVolumeManager" ref="whFacilityGroupSkuVolumeManager" />
	<!-- 创捡货工作 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhWorkManager" ref="whWorkManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhWorkLineManager" ref="whWorkLineManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhOperationManager" ref="whOperationManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhOperationLineManager" ref="whOperationLineManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.manager.OdoOutBoundBoxMapper" ref="odoOutBoundBoxMapper" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WorkTypeManager" ref="workTypeManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.proxy.CreateWorkManagerProxy" ref="createWorkManagerProxy" />
	<!-- Pda捡货 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaPickingWorkManager" ref="pdaPickingWorkManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaPickingWorkEntranceManager" ref="pdaPickingWorkEntranceManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.auth.OperPrivilegeManager" ref="operPrivilegeManager" />
	
	<!-- 推荐播种墙 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.proxy.WaveFacilityManagerProxy" ref="waveFacilityManagerProxy" />
	
	<!-- Pda补货 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaReplenishmentWorkManager" ref="pdaReplenishmentWorkManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaReplenishmentWorkEntranceManager" ref="pdaReplenishmentWorkEntranceManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaReplenishmentPutawayManager" ref="pdaReplenishmentPutawayManager" />
	
	<!-- 库内移动 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.wave.proxy.CreateInWarehouseMoveWorkManagerProxy" ref="createInWarehouseMoveWorkManagerProxy"/>
	<!-- Pda库间移动 -->
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaInventoryMoveWorkEntranceManager" ref="pdaInventoryMoveWorkEntranceManager" />

	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaInWarehouseMoveWorkManager" ref="pdaInWarehouseMoveWorkManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaInWarehouseMovePutawayManager" ref="pdaInWarehouseMovePutawayManager" />
	
	<!-- 业务规则配置 -->
   	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhDistributionPatternRuleManager"  ref="whDistributionPatternRuleManager" />
	
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.PdaContainerRcvdManagerProxy"  ref="pdaContainerRcvdManagerProxy" />
	<!-- 称重 -->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WeightingManager"  ref="weightingManager" />
	
    <!--生成远程服务代理，可以和本地bean一样使用demoService-->
<!--     <dubbo:reference id="demoManager" interface="com.baozun.scm.primservice.whoperation.manager.DemoManager" cluster="failfast" loadbalance="consistenthash"/> -->
 
 
    <!-- 和本地bean一样实现服务 -->
<!--     <bean id="demoManager" class="com.baozun.scm.primservice.whoperation.manager.DemoManagerImpl" /> -->
 
 	<!-- 扫描包中所有的方服务 -->
<!--  	<dubbo:annotation package="com.baozun.scm.primservice.whoperation.manager" /> -->
	<dubbo:consumer check="true" version="${dubbo.default.version}" cluster="failfast" timeout="350000"/>

	<dubbo:reference id="pkManager" url="${dubbo.sac.server}" interface="com.baozun.scm.baseservice.sac.manager.PkManager"/>
	
	<dubbo:reference id="codeManager" url="${dubbo.sac.server}" interface="com.baozun.scm.baseservice.sac.manager.CodeManager"/>
	<dubbo:reference url="${dubbo.local.server.print}" id="printObjectManagerProxy"  interface="com.baozun.scm.baseservice.print.manager.printObject.PrintObjectManagerProxy" check="false" />
	<dubbo:reference url="${dubbo.local.server.print}" id="printConditionManager"  interface="com.baozun.scm.baseservice.print.manager.PrintConditionManager" check="false" />
	

    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.redis.SkuRedisManager"  ref="skuRedisManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.caseLevel.CaseLevelManagerProxy"  ref="caseLevelManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.inbound.rcvd.CaseLevelRcvdManager"  ref="caseLevelRcvdManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.concentration.PdaConcentrationManager"  ref="pdaConcentrationManager" />
    
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.bi.UserImportExcelManager" ref="userImportExcelManager" />

    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.seeding.SeedingManagerProxy" ref="seedingManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.seeding.SeedingManager" ref="seedingManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhSeedingCollectionManager" ref="whSeedingCollectionManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.manager.OutboundBoxRecManager" ref="outboundBoxRecManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.manager.OutboundBoxRecManagerProxy" ref="outboundBoxRecManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.OutBoundBoxTypeManager" ref="outBoundBoxTypeManager" />
<!--     <dubbo:service interface="com.baozun.scm.baseservice.print.manager.printObject.PrintObjectManagerProxy" ref="printObjectManagerProxy" /> -->

    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.CustomerManager" ref="customerManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.StoreManager" ref="storeManager" />
    
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.archiv.PoAsnArchivManager" ref="poAsnArchivManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.archiv.OdoArchivManager" ref="odoArchivManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.collect.WhOdoArchivIndexManager" ref="whOdoArchivIndexManager" />
	        
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.confirm.WhOdoStatusConfirmManager" ref="whOdoStatusConfirmManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhOutboundboxManager" ref="whOutboundboxManager" />
	
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventoryFlowManager" ref="whSkuInventoryFlowManager" />
	
	<dubbo:service interface="com.baozun.scm.primservice.whinterface.manager.WmsInboundServiceManagerProxy" ref="wmsInboundServiceManagerProxy" />
	<dubbo:service interface="com.baozun.scm.primservice.whinterface.manager.WmsOutboundServiceManagerProxy" ref="wmsOutboundServiceManagerProxy" />
	<dubbo:service interface="com.baozun.scm.primservice.whinterface.manager.WmsConfirmServiceManagerProxy" ref="wmsConfirmServiceManagerProxy" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.handover.HandoverManager" ref="handoverManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhPrintInfoManager" ref="whPrintInfoManager" />
	
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.confirm.outbound.WhOutboundConfirmManager" ref="whOutboundConfirmManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.WhOdoDeliveryInfoManager" ref="whOdoDeliveryInfoManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.rule.WhHandoverStationRecommendManager" ref="whHandoverStationRecommendManager" />
	
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.confirm.WhInvoiceConfirmManager" ref="whInvoiceConfirmManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.confirm.inbound.WhInboundConfirmManager" ref="whInboundConfirmManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.HandoverCollectionRuleManager" ref="handoverCollectionRuleManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhFunctionOutBoundManager" ref="whFunctionOutBoundManager" />
	<!-- 按单复核 -->
	<!--<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhCheckingManager" ref="whCheckingManager" />-->
	
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhCheckingManager" ref="whCheckingManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.checking.CheckingManager" ref="checkingManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhCheckingLineManager" ref="whCheckingLineManager" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.checking.CheckingManagerProxy" ref="checkingManagerProxy" />
	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.odo.manager.OdoTransportMgmtManager" ref="odoTransportMgmtManager" />


	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.WhOutboundConsumableManager" ref="whOutboundConsumableManager" />

	<!-- 物流服务 -->
	<dubbo:reference url="${dubbo.local.server.logisitics}"  check="false" id="transServiceManager" cluster="failfast" interface="com.baozun.scm.primservice.logistics.manager.TransServiceManager" />
	<dubbo:reference url="${dubbo.local.server.logisitics}"  check="false" id="maTransportAccountManager" cluster="failfast" interface="com.baozun.scm.primservice.logistics.wms4.manager.MaTransportAccountManager" />
	<dubbo:reference url="${dubbo.local.server.logisitics}"  check="false" id="maTransportManager" cluster="failfast" interface="com.baozun.scm.primservice.logistics.wms4.manager.MaTransportManager" />
	<dubbo:reference url="${dubbo.local.server.logisitics}"  check="false" id="maTransportVasManager" cluster="failfast" interface="com.baozun.scm.primservice.logistics.wms4.manager.MaTransportVasManager" />
	
	
	<!-- Pda容器拆分移动 start-->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.work.PdaOutBoundBoxMoveManager"  ref="pdaOutBoundBoxMoveManager" />
    <!-- Pda容器拆分移动 end-->


    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.ContainerManager" ref="containerManager" />
</beans>
