<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
 
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.app.name}"  />
  
    <!-- 使用multicast广播注册中心暴露服务地址 -->
<!--     <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
    
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <dubbo:registry address="${dubbo.registry.address}" register="${dubbo.register.flag}" />  
 

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol  id="dubbo" name="dubbo" port="${dubbo.app.port}" />
	<dubbo:provider protocol="dubbo" default="true" version="${dubbo.default.version}" timeout="350000" />
	
	
    <dubbo:monitor address="${dubbo.monitor.address}"/>
    
    
 
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.AsnManager"  ref="asnManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.PoManager"  ref="poManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnproxy.CreatePoAsnManagerProxy"  ref="createPoAsnManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnproxy.SelectPoAsnManagerProxy"  ref="selectPoAsnManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnproxy.EditPoAsnManagerProxy"  ref="editPoAsnManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.PoCheckManager"  ref="poCheckManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.AsnCheckManager"  ref="asnCheckManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.AsnLineManager"  ref="asnLineManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.poasn.poasnmanager.PoAsnOuManager"  ref="poAsnOuManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.system.GlobalLogManager"  ref="globalLogManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryModifyManager"  ref="inventoryModifyManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryOccupyManager"  ref="inventoryOccupyManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryLogManager"  ref="inventoryLogManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryLockManager"  ref="inventoryLockManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.InventoryValidateManager"  ref="inventoryValidateManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.outbound.InventoryModifyOutboundManager"  ref="inventoryModifyOutboundManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.outbound.CommonOutboundManager"  ref="commonOutboundManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inbound.InventoryModifyInboundManager"  ref="inventoryModifyInboundManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inbound.CommonInboundManager"  ref="commonInboundManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.carton.WhCartonManager" ref="whCartonManager" />  
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.PdaRcvdManagerProxy"  ref="pdaRcvdManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.inbound.putaway.PdaPutawayManager"  ref="pdaPutawayManager" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.CheckInManagerProxy"  ref="checkInManagerProxy" />
    <dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.pda.sortation.PdaInboundSortationManager"  ref="pdaInboundSortationManager" />
    	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.sortation.WhContainerAssignManager" ref="whContainerAssignManager" />  
    	<dubbo:service interface="com.baozun.scm.primservice.whoperation.manager.warehouse.inventory.WhSkuInventoryLogManager" ref="whSkuInventoryLogManager" />  

    <!--生成远程服务代理，可以和本地bean一样使用demoService-->
<!--     <dubbo:reference id="demoManager" interface="com.baozun.scm.primservice.whoperation.manager.DemoManager" cluster="failfast" loadbalance="consistenthash"/> -->
 
 
    <!-- 和本地bean一样实现服务 -->
<!--     <bean id="demoManager" class="com.baozun.scm.primservice.whoperation.manager.DemoManagerImpl" /> -->
 
 	<!-- 扫描包中所有的方服务 -->
<!--  	<dubbo:annotation package="com.baozun.scm.primservice.whoperation.manager" /> -->
	<dubbo:consumer check="true" version="${dubbo.default.version}" cluster="failfast" timeout="350000"/>

	<dubbo:reference id="pkManager" url="${dubbo.sac.server}" interface="com.baozun.scm.baseservice.sac.manager.PkManager"/>
	
	<dubbo:reference id="codeManager" url="${dubbo.sac.server}" interface="com.baozun.scm.baseservice.sac.manager.CodeManager"/>


</beans>
