<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.confirm.WhInvoiceConfirmDao">
	<resultMap id="WhInvoiceConfirmResult" type="com.baozun.scm.primservice.whoperation.model.confirm.WhInvoiceConfirm">
	</resultMap>
	<resultMap id="WhInvoiceConfirmPaginationResult" type="lark.common.dao.Pagination">
    	<collection property="items" javaType="ArrayList" resultMap="WhInvoiceConfirmResult"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="whInvoiceConfirmColumns">
	    <![CDATA[
	        	id as id,
	        	invoice_code as invoiceCode,
	        	invoice_no as invoiceNo,
	        	transport_service_providers as transportServiceProviders,
	        	tracking_number as trackingNumber,
	        	ou_id as ouId,
	        	create_time as createTime,
	        	data_source as dataSource
	    ]]>
	</sql>
	<sql id="whInvoiceConfirmConditionWhereExt">
		<where>
			<if test="likeEqualsMap != null">
				<foreach collection="likeEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} like CONCAT('%',#{value},'%') 
				</foreach> 
			</if> 
			<if test="equalsMap != null"> 
				<foreach collection="equalsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} = #{value} 
				</foreach> 
			</if> 
			<if test="notEqualsMap != null"> 
				<foreach collection="notEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} != #{value} 
				</foreach> 
			</if> 
			<if test="greateMap != null"> 
				<foreach collection="greateMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &gt; #{value} 
				</foreach> 
			</if> 
			<if test="greateEqualsMap != null"> 
				<foreach collection="greateEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &gt;= #{value} 
				</foreach> 
			</if> 
			<if test="lessMap != null"> 
				<foreach collection="lessMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &lt; #{value} 
				</foreach> 
			</if> 
			<if test="lessEqualsMap != null"> 
				<foreach collection="lessEqualsMap" index="key"  item="value" separator="and" open=" and "> 
					${key} &lt;= #{value} 
				</foreach> 
			</if> 
			<if test="nullMap != null"> 
				<foreach collection="nullMap" index="key"  item="value" separator="and" open=" and "> 
					${key} is null 
				</foreach> 
			</if> 
			<if test="notNullMap != null"> 
				<foreach collection="notNullMap" index="key"  item="value" separator="and" open=" and "> 
					${key} is not null 
				</foreach> 
			</if> 
			<if test="inMap != null"> 
				<foreach collection="inMap" index="key"  item="value" separator="and" open=" and (" close=")"> 
					<foreach collection="value" item="itemin" index="index" separator="or"> 
						${key} = #{itemin} 
					</foreach> 
				</foreach> 
			</if> 
			<if test="notInMap != null"> 
				<foreach collection="notInMap" index="key"  item="value" separator="and" open=" and (" close=")"> 
					<foreach collection="value" item="itemin" index="index" separator="and"> 
						${key} != #{itemin} 
					</foreach> 
				</foreach> 
			</if> 
		</where>
		<if test="sortBy != null"> 
			<foreach collection="sortBy" item="item" separator=","  open=" order by "> 
				${item.field} ${item.type}
			</foreach> 
		</if>
	</sql>
	
		<!-- 如果有自增字段 -->
		
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.confirm.WhInvoiceConfirm" 
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        t_wh_invoice_confirm (
		        	id,
		        	invoice_code ,
		        	invoice_no ,
		        	transport_service_providers ,
		        	tracking_number ,
		        	ou_id ,
		        	create_time ,
		        	data_source 
		        ) VALUES (
		        	#{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{invoiceCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{invoiceNo,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{transportServiceProviders,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{trackingNumber,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{dataSource,javaType=java.lang.String,jdbcType=VARCHAR} 
		        )
		    ]]>

		</insert>
		
		
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.confirm.WhInvoiceConfirm">
	    <![CDATA[
	        UPDATE t_wh_invoice_confirm SET
		        invoice_code = #{invoiceCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        invoice_no = #{invoiceNo,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        transport_service_providers = #{transportServiceProviders,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        tracking_number = #{trackingNumber,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ou_id = #{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        data_source = #{dataSource,javaType=java.lang.String,jdbcType=VARCHAR} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
		<update id="batchUpdate">
	        UPDATE t_wh_invoice_confirm SET
	        	<foreach collection="batchUpdateMap" index="key"  item="value" separator=",">
	        		${key} = #{value}
	        	</foreach>
	        	<include refid="whInvoiceConfirmConditionWhereExt"/>
		</update>
		
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_invoice_confirm where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_invoice_confirm 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	    <update id="batchDelete">
	        delete from t_wh_invoice_confirm <include refid="whInvoiceConfirmConditionWhereExt"/>
		</update>
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="WhInvoiceConfirmResult" flushCache="false">
			select <include refid="whInvoiceConfirmColumns" />
		    <![CDATA[
			    from t_wh_invoice_confirm 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="WhInvoiceConfirmResult" flushCache="false">
			select <include refid="whInvoiceConfirmColumns" />
			    from t_wh_invoice_confirm 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="whInvoiceConfirmDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="invoiceCode!=null and invoiceCode!=''">
					and invoice_code = #{invoiceCode}
				</if>
	       
	       
		       <if test="invoiceNo!=null and invoiceNo!=''">
					and invoice_no = #{invoiceNo}
				</if>
	       
	       
		       <if test="transportServiceProviders!=null and transportServiceProviders!=''">
					and transport_service_providers = #{transportServiceProviders}
				</if>
	       
	       
		       <if test="trackingNumber!=null and trackingNumber!=''">
					and tracking_number = #{trackingNumber}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
	       
		       <if test="dataSource!=null and dataSource!=''">
					and data_source = #{dataSource}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_invoice_confirm 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_invoice_confirm 
		<include refid="whInvoiceConfirmDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_invoice_confirm 
		<include refid="whInvoiceConfirmDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="WhInvoiceConfirmResult">
    	select <include refid="whInvoiceConfirmColumns" />
	    from t_wh_invoice_confirm 
		<include refid="whInvoiceConfirmDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="WhInvoiceConfirmResult">
    	select <include refid="whInvoiceConfirmColumns" />
	    from t_wh_invoice_confirm 
		<include refid="whInvoiceConfirmDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="WhInvoiceConfirmResult">
    	select <include refid="whInvoiceConfirmColumns" />
	    from t_wh_invoice_confirm 
		<include refid="whInvoiceConfirmDynamicWhere"/>
		
    </select>
    
    <select id="query" resultMap="WhInvoiceConfirmResult">
		select <include refid="whInvoiceConfirmColumns" />
	    from t_wh_invoice_confirm  
		<include refid="whInvoiceConfirmConditionWhereExt"/>
    </select>
    
    <select id="queryCount" resultType="long">
		select count(*) from t_wh_invoice_confirm  
		<include refid="whInvoiceConfirmConditionWhereExt"/>
    </select>

	
</mapper>
