<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.poasn.CheckPoCodeDao">
	<resultMap id="CheckPoCodeResult" type="com.baozun.scm.primservice.whoperation.model.poasn.CheckPoCode">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="checkPoCodeColumns">
	    <![CDATA[
	        	id as id,
	        	po_code as poCode,
	        	ext_code as extCode,
	        	store_id as storeId,
	        	ou_id as ouId
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.poasn.CheckPoCode" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        t_wh_check_pocode (
	        id,
	        	po_code ,
	        	ext_code ,
	        	store_id ,
	        	ou_id 
	        ) VALUES (
	        	#{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{poCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{extCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{storeId,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} 
	        )
	    ]]>

		</insert>
	    
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.poasn.CheckPoCode">
	    <![CDATA[
	        UPDATE t_wh_check_pocode SET
		        po_code = #{poCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ext_code = #{extCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        store_id = #{storeId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        ou_id = #{ouId,javaType=java.lang.Long,jdbcType=BIGINT} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_check_pocode where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_check_pocode 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="CheckPoCodeResult" flushCache="false">
			select <include refid="checkPoCodeColumns" />
		    <![CDATA[
			    from t_wh_check_pocode 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="CheckPoCodeResult" flushCache="false">
			select <include refid="checkPoCodeColumns" />
			    from t_wh_check_pocode 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="checkPoCodeDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="poCode!=null and poCode!=''">
					and po_code = #{poCode}
				</if>
	       
	       
		       <if test="extCode!=null and extCode!=''">
					and ext_code = #{extCode}
				</if>
	       
				<if test="storeId!=null">
					and store_id = #{storeId}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_check_pocode 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_check_pocode 
		<include refid="checkPoCodeDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_check_pocode 
		<include refid="checkPoCodeDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="CheckPoCodeResult">
    	select <include refid="checkPoCodeColumns" />
	    from t_wh_check_pocode 
		<include refid="checkPoCodeDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="CheckPoCodeResult">
    	select <include refid="checkPoCodeColumns" />
	    from t_wh_check_pocode 
		<include refid="checkPoCodeDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="CheckPoCodeResult">
    	select <include refid="checkPoCodeColumns" />
	    from t_wh_check_pocode 
		<include refid="checkPoCodeDynamicWhere"/>
		
    </select>

	
</mapper>
