<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.baozun.scm.primservice.whoperation.dao.poasn.WhPoDao">
	<resultMap id="WhPoResult" type="com.baozun.scm.primservice.whoperation.model.poasn.WhPo">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="whPoColumns">
	    <![CDATA[
		        id as id,
	        	po_code as poCode,
	        	ext_code as extCode,
	        	ou_id as ouId,
	        	customer_id as customerId,
	        	store_id as storeId,
	        	supplier_id as supplierId,
	        	logistics_provider_id as logisticsProviderId,
	        	po_type as poType,
	        	status as status,
	        	is_iqc as isIqc,
	        	po_date as poDate,
	        	eta as eta,
	        	delivery_time as deliveryTime,
	        	qty_planned as qtyPlanned,
	        	qty_rcvd as qtyRcvd,
	        	ctn_planned as ctnPlanned,
	        	ctn_rcvd as ctnRcvd,
	        	start_time as startTime,
	        	stop_time as stopTime,
	        	inbound_time as inboundTime,
	        	is_wms as isWms,
	        	is_vmi as isVmi,
	        	create_time as createTime,
	        	created_id as createdId,
	        	last_modify_time as lastModifyTime,
	        	modified_id as modifiedId
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.baozun.scm.primservice.whoperation.model.poasn.WhPo"  keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        t_wh_po (
	        	id,
	        	po_code ,
	        	ext_code ,
	        	ou_id ,
	        	customer_id ,
	        	store_id ,
	        	supplier_id ,
	        	logistics_provider_id ,
	        	po_type ,
	        	status ,
	        	is_iqc ,
	        	po_date ,
	        	eta ,
	        	delivery_time ,
	        	qty_planned ,
	        	qty_rcvd ,
	        	ctn_planned ,
	        	ctn_rcvd ,
	        	start_time ,
	        	stop_time ,
	        	inbound_time ,
	        	is_wms ,
	        	is_vmi ,
	        	create_time ,
	        	created_id ,
	        	last_modify_time ,
	        	modified_id 
	        ) VALUES (
	            #{id,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{poCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{extCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
	        	#{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{customerId,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{storeId,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{supplierId,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{logisticsProviderId,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{poType,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{status,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{isIqc,javaType=java.lang.Boolean,jdbcType=BIT} ,
	        	#{poDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{eta,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{deliveryTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{qtyPlanned,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{qtyRcvd,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{ctnPlanned,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{ctnRcvd,javaType=java.lang.Integer,jdbcType=INTEGER} ,
	        	#{startTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{stopTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{inboundTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{isWms,javaType=java.lang.Boolean,jdbcType=BIT} ,
	        	#{isVmi,javaType=java.lang.Boolean,jdbcType=BIT} ,
	        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{createdId,javaType=java.lang.Long,jdbcType=BIGINT} ,
	        	#{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
	        	#{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} 
	        )
	    ]]>

		</insert>
	    
		<update id="update" parameterType="com.baozun.scm.primservice.whoperation.model.poasn.WhPo">
	    <![CDATA[
	        UPDATE t_wh_po SET
		        po_code = #{poCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ext_code = #{extCode,javaType=java.lang.String,jdbcType=VARCHAR} ,
		        ou_id = #{ouId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        customer_id = #{customerId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        store_id = #{storeId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        supplier_id = #{supplierId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        logistics_provider_id = #{logisticsProviderId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        po_type = #{poType,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        status = #{status,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        is_iqc = #{isIqc,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        po_date = #{poDate,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        eta = #{eta,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        delivery_time = #{deliveryTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        qty_planned = #{qtyPlanned,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        qty_rcvd = #{qtyRcvd,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        ctn_planned = #{ctnPlanned,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        ctn_rcvd = #{ctnRcvd,javaType=java.lang.Integer,jdbcType=INTEGER} ,
		        start_time = #{startTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        stop_time = #{stopTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        inbound_time = #{inboundTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        is_wms = #{isWms,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        is_vmi = #{isVmi,javaType=java.lang.Boolean,jdbcType=BIT} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        created_id = #{createdId,javaType=java.lang.Long,jdbcType=BIGINT} ,
		        last_modify_time = #{lastModifyTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        modified_id = #{modifiedId,javaType=java.lang.Long,jdbcType=BIGINT} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from t_wh_po where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from t_wh_po 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="WhPoResult" flushCache="false">
			select <include refid="whPoColumns" />
		    <![CDATA[
			    from t_wh_po 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="WhPoResult" flushCache="false">
			select <include refid="whPoColumns" />
			    from t_wh_po 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="whPoDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
	       
		       <if test="poCode!=null and poCode!=''">
					and po_code = #{poCode}
				</if>
	       
				<if test="ouId!=null">
					and ou_id = #{ouId}
				</if>
	       
				<if test="supplierId!=null">
					and supplier_id = #{supplierId}
				</if>
	       
				<if test="logisticsProviderId!=null">
					and logistics_provider_id = #{logisticsProviderId}
				</if>
	       
				<if test="poType!=null">
					and po_type = #{poType}
				</if>
	       
				<if test="status!=null">
					and status = #{status}
				</if>
	       
				<if test="isIqc!=null">
					and is_iqc = #{isIqc}
				</if>
	       
				<if test="poDate!=null">
					and po_date = #{poDate}
				</if>
	       
				<if test="eta!=null">
					and eta = #{eta}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="createdId!=null">
					and created_id = #{createdId}
				</if>
	       
				<if test="lastModifyTime!=null">
					and last_modify_time = #{lastModifyTime}
				</if>
	       
				<if test="modifiedId!=null">
					and modified_id = #{modifiedId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from t_wh_po 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from t_wh_po 
		<include refid="whPoDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from t_wh_po 
		<include refid="whPoDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="WhPoResult">
    	select <include refid="whPoColumns" />
	    from t_wh_po 
		<include refid="whPoDynamicWhere"/>
    </select>
    
    <select id="findListByQueryMap" resultMap="WhPoResult">
    	select <include refid="whPoColumns" />
	    from t_wh_po 
		<include refid="whPoDynamicWhere"/>
    </select>
    
    <select id="findListByParam" resultMap="WhPoResult">
    	select <include refid="whPoColumns" />
	    from t_wh_po 
		<include refid="whPoDynamicWhere"/>
		
    </select>

    <select id="getByPoCode" resultMap="WhPoResult" parameterType="java.lang.String">
	    select <include refid="whPoColumns"/>
	    <![CDATA[
	        from t_wh_po where po_code = #{poCode}
	    ]]>
    </select>
    
	
</mapper>
